
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}

html, body{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #fff;
}
body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
p{
    margin:0;
}
.profile-dtl{
    text-align: center;
}
.profile-dtl h4{
    float: right;
}

ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}
.main-content {
    position: relative;
}
.sidebar-left .navbar-brand {
    height: 69px;
    padding: 23px 15px 10px 60px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    width:214.3px
}
span.dashboard_text {
    font-size: 12px;
    text-transform: capitalize;
    display: block;
    letter-spacing: 1px;
    padding-left: 35px;
}


.navbar-inverse .navbar-brand {
    color: #b8c7ce;
}
/*-------HEADER SECTION------*/
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
/* ----STICKY HEADER----*/
.sticky-header{
    position: fixed;
    top: 0;
    left:0px;
    width: 100%;
    z-index: 100;
}
.header-section {
    background:#262b36;
    box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
    -o-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
}
.header-section::after {
    clear: both;
    display: block;
    content: '';
}
.header-left {
    float: left;
    width: 50%;
    margin-left: 15%;
    position: relative;
}
.header-left button{
    padding-left: 220px;
}
.header-right {
    float: right;
}
/*--push-menu-css--*/
.cbp-spmenu {
    position: fixed;
}
.cbp-spmenu-vertical {
    height: 100%;
    z-index: 1000;
    padding: 0em 0 2em;
}
.cbp-spmenu-left {
    left: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: -309px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
}
.cbp-spmenu-push-toright {
    left: 0;
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cbp-spmenu-push div#page-wrapper {
    margin: 0 0 0 13.5em;
    transition:.5s all;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
}
.cbp-spmenu-push.cbp-spmenu-push-toright div#page-wrapper {
    margin: 0;
}
/*--//push-menu-css--*/
/*--side-menu--*/
.sidebar ul li{
    margin-bottom: 1em;
}
.sidebar ul li a {
    color: #505b71;
    font-size: 1em;
    padding: 5px 15px;
    padding-left: 25px;
}
.collapse.in {
    display: block;
    background: #2d6696fc;
    background: none;
    color: #fff;
    margin-top: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.sidebar .arrow {
    float: right;
}
h4.heading {
    padding-left: 25px;
    font-size: 17px;
    letter-spacing: 1px;
    color:#eee;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}
i.nav_icon {
    background: #00000070;
    font-size: 16px;
    line-height: 25px;
    display: block;
    float: left;
    width: 32px;
    height: 26px;
    margin-right: 10px;
    margin-left: 0px;
    text-align: center;
    opacity: 0.6;
    border-radius: 3px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span.nav-badge {
    font-size: 12px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.32);
    width: 25px;
    height: 25px;
    border-radius: 68%;
    -webkit-border-radius: 68%;
    -moz-border-radius: 68%;
    -o-border-radius: 68%;
    position: absolute;
    top: 18%;
    right: 15%;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
    color: #337ab7;
}
.chart-nav span.nav-badge-btm {
    right: 5%;
    top: 24%;
}
ul.dropdown-menu{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/*--//side-menu--*/

/*start search*/
.search-box {
    float: left;
    width: 43%;
    margin: .5em 0 0 0em;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.sb-search-input {
    outline: none;
    background: #fff;
    width: 100%;
    margin: 0;
    z-index: 10;
    font-size: 1em;
    color: #383838;
    padding: 0.5em 1em;
    border: 1px solid #8c8c8c;
    background: url(../images/search-icon.png) no-repeat 160px 12px;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}
.sb-search-input::-webkit-input-placeholder {
    color:#888;
}
.sb-search-input:-moz-placeholder {
    color: #888;
}
.sb-search-input::-moz-placeholder {
    color: #888;
}
.sb-search-input:-ms-input-placeholder {
    color: #888;
}
.input__label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: text;
}

.graphic {
    fill: none;
    -webkit-transform: scale3d(1, -1, 1);
    transform: scale3d(1, -1, 1);
    -webkit-transition: stroke-dashoffset 0.5s;
    transition: stroke-dashoffset 0.5s;
    pointer-events: none;
    stroke: #D81B60;
    stroke-width: 6px;
    stroke-dasharray: 962;
    stroke-dashoffset: 962;
}
/*--//search-ends --*/
/*--- User Panel---*/
.profile_details_left {
    float: left;
    padding-left: 5px;
}
.dropdown-menu {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    border-radius: 0;
}
li.dropdown.head-dpdn {
    display: inline-block;
    padding: 1.25em 0;
    float: left;
}
li.dropdown.head-dpdn:nth-child(3) {
    border-right: 1px solid transparent;
}
li.dropdown.head-dpdn a.dropdown-toggle {
    padding: 0.5em .7em;
    background: #629aa9;
    margin: 0 .5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
ul.dropdown-menu li {
    margin-left: 0;
    width: 100%;
    padding: 0;
    background: #fff;
}
.user-panel-top ul{
    padding-left:0;
}
.user-panel-top li{
    float:left;
    margin-left:15px;
    position:relative;
}
.user-panel-top li span.digit{
    font-size:11px;
    font-weight:bold;
    color:#FFF;
    background:#e64c65;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:2em;
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    -o-border-radius:2em;
    text-align:center;
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -10px;
}
.user-panel-top li:first-child{
    margin-left:0;
}
.custom-nav > li.act > a, .custom-nav > li.act > a:hover, .custom-nav > li.act > a:focus {
    background-color: #353f4f;
    color:#8BC34A;
}
.user-panel-top li a{
    display: block;
    padding: 5px;
    text-decoration:none;
}
.header-left i.fa.fa-envelope{
    color:#fff;
    font-size: 14px;
}
.header-left i.fa.fa-bell{
    color:#fff;
    font-size: 14px;
}
.header-left  i.fa.fa-tasks{
    color:#fff;
    font-size: 14px;
}
.user-panel-top li a:hover{
    border-color:rgba(101, 124, 153, 0.93);
}
.user-panel-top li a i{
    width:24px;
    height:24px;
    display: block;
    text-align:center;
    line-height:25px;
}
.user-panel-top li a i span{
    font-size:15px;
    color:#FFF;
}
.user-panel-top li a.user{
    background:#667686;
}
.user-panel-top li span.green{
    background:#a88add;
}
.user-panel-top li span.red{
    background:#b8c9f1;
}
.user-panel-top li span.yellow{
    background:#bdc3c7;
}

/*--Progress bars--*/
/********* profile details **********/
ul.dropdown-menu.drp-mnu i.fa {
    margin-right: 0.5em;
    color: #629aa9;
}
ul.dropdown-menu {
    padding: 1em;
    min-width: 280px;
    top:101%;
}
.dropdown-menu > li > a {
    padding: 3px 15px;
    font-size: 1em;
    letter-spacing: .5px;
}
.profile_details {
    float: right;
}
.profile_details_drop .fa.fa-angle-up{
    display:none;
}
.profile_details_drop.open .fa.fa-angle-up{
    display:block;
}
.profile_details_drop.open .fa.fa-angle-down{
    display:none;
}
.profile_details_drop a.dropdown-toggle {
    display:block;
    padding: 0.2em 3em 0 0em;
}
.profile_img span.prfil-img{
    float:left;
}
.user-name{
    float:left;
    margin-top:8px;
    margin-left:11px;
    height:35px;
}
.profile_details ul li{
    list-style-type:none;
    position:relative;
    margin-right: 30px;
}
.profile_details li a i.fa.lnr {
    position: absolute;
    top: 34%;
    right: 8%;
    color: #333;
    font-size: 1.6em;
}
span.prfil-img img,.activity-img img,.media>.pull-left img,.inbox-page img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    padding: 1em;
    min-width: 190px;
    top: 122%;
    left:0%;
}
ul.dropdown-menu.drp-mnu li {
    list-style-type: none;
    padding: 3px 0;
}
.user-name p{
    font-size:1em;
    color: #778394;
    line-height:1em;
    font-weight:700;
}
.user-name span {
    font-size: .75em;
    color: #424f63;
    font-weight: normal;
    margin-top: .3em;
}
