<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="" class="brand-link">
      <img src="assets/dist/img/ic.png" alt="AdminLTE Logo" class="brand-image img-circle ">
      <span class="brand-text font-weight-white">CREATIVE TIM</span>
  </a>
  <div class="dropdown-divider"></div>
  <!-- Sidebar -->
  <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" style="height: 30px; width: 30px;margin-right: 5px;  ">

                      <p class="title_main">
                          Tania Andrew
                          <i class="right fas fa-caret-down" style="margin-top: 8px; margin-right: 5px;"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview" style="margin-left: 5px;">
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">MP</p>
                              <p>My profile</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">EP</p>
                              <p>Edit Profile</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">S</p>
                              <p>Setting</p>
                          </a>
                      </li>


                  </ul>
              </li>
          </ul>
      </nav>
      <div class="dropdown-divider"></div>
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="info">


              <a href="#" class="d-block">
                      DUC LONG
                      <i class="right fas fa-caret-down"></i>

              </a>

          </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="margin-bottom: 20px;">

              <li class="nav-item">
                  <a href="pages/widgets.html" class="nav-link">
                      <!-- <i class="nav-icon fas fa-th"></i> -->
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p class="title_nav">
                          DASHBOARD
                      </p>
                  </a>
              </li>

              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-copy"></i>
                      <p class="title_nav">
                          COMPONENTS
                          <i class="right fas fa-caret-down" style="margin-top: 8px;"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview" style="margin-left: 5px;">
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">BT</p>
                              <p>Buttons</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">GS</p>
                              <p>Grid System</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">PN</p>
                              <p>Panels</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">SA</p>
                              <p>Sweet Alert</p>
                          </a>
                      </li>


                  </ul>
              </li>
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-receipt"></i>
                      <!-- <i class="nav-icon fas fa-copy"></i> -->
                      <p class="title_nav">
                          FORMS
                          <i class="right fas fa-caret-down" style="margin-top: 8px;"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview" style="margin-left: 5px;">
                      <li class="nav-item">
                          <a href="" routerLink="/form/regular" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">RF</p>
                              <p>Regular forms</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="" routerLink="/notifyMessage" class="nav-link">
                              <p>Notify Message Managment</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="" routerLink="/createdotifyMessage" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">EF</p>
                              <p>Extended forms</p>
                          </a>
                      </li>


                  </ul>
              </li>
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-scroll"></i>
                      <!-- <i class="nav-icon fas fa-copy"></i> -->
                      <p class="title_nav">
                          TABLES
                          <i class="right fas fa-caret-down" style="margin-top: 8px;"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview" style="margin-left: 5px;">
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">RT</p>
                              <p>Regular Tables</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">ET</p>
                              <p>Extended Table</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">DT</p>
                              <p>Database Table</p>
                          </a>
                      </li>


                  </ul>
              </li>
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-map-marker-alt"></i>
                      <p class="title_nav">
                          MAPS
                          <i class="right fas fa-caret-down" style="margin-top: 8px;"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview" style="margin-left: 5px; ">
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">RT</p>
                              <p>Regular Tables</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">ET</p>
                              <p>Extended Table</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">DT</p>
                              <p>Database Table</p>
                          </a>
                      </li>


                  </ul>
              </li>
              <li class="nav-item">
                  <a href="pages/widgets.html" class="nav-link">
                      <!-- <i class=" fas fa-th"></i> -->
                      <i class="nav-icon fas fa-chart-line"></i>
                      <p class="title_nav">
                          CHARTS
                      </p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="pages/widgets.html" class="nav-link">
                      <!-- <i class="nav-icon fas fa-th"></i> -->
                      <!-- <i class="nav-icon fas fa-chart-line"></i> -->
                      <i class="nav-icon fas fa-calendar-alt"></i>
                      <p class="title_nav">
                          CALENTDAS
                      </p>
                  </a>
              </li>
              <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                      <!-- <i class=" fas fa-copy"></i> -->
                      <i class="nav-icon fas fa-gift"></i>
                      <p class="title_nav">
                          PAGES
                          <i class="right fas fa-caret-down" style="margin-top: 8px;"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview" style="margin-left: 5px;">
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">RT</p>
                              <p>Regular Tables</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">ET</p>
                              <p>Extended Table</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="pages/layout/top-nav.html" class="nav-link">
                              <p class="title_icon" style="margin-right: 15px;">DT</p>
                              <p>Database Table</p>
                          </a>
                      </li>


                  </ul>
              </li>
              <li class="nav-item">
                  <a href="pages/widgets.html" class="nav-link">
                      <i class="nav-icon fas fa-th"></i>
                      <p class="title_nav">
                          DOCUMENTATIONS
                      </p>
                  </a>
              </li>

          </ul>
      </nav>
      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
