<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="content-wrapper" >
      <!-- day la phan from -->
        <div class="dropdown"><a data-toggle="dropdown" href="#" aria-expanded="false"><i class="fa fa-cog fa-2x" style="color: white;font-size: 26px;"></i></a>
            <ul class="dropdown-menu">
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>
                <li>sdsds</li>

            </ul>
        </div>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <!-- <h5 style="margin-top: 20px; text-align: center;font-weight: bold;">QUẢN LÝ TIN NHẮN</h5> -->
                <div class="row">
                    <div class="col-md-12" style=" padding: 10px;">
                        <!-- <div class="row"> -->
                        <form>
                            <!-- <form> -->
                            <div style="background-color: white;padding-top: 15px;padding-left: 20px; margin-bottom: 5px;">
                                <div class="form-row">
                                    <P class="label_main"><i class="fas fa-home" style="font-size: 22px;"></i></P>
                                    <P class="label_next">></P>
                                    <P class="label_main">Quản lý tin nhắn</P>
                                    <P class="label_next">></P>
                                    <P class="label_main">Thông tin tìm kiếm</P>
                                </div>
                            </div>

                            <div style="background-color: white;padding-top: 15px;padding-left: 20px; margin-bottom: 5px;">
                                <div class="form-row">
                                    <P class="label_main">THÔNG TIN TÌM KIẾM</P>
                                </div>
                                <div class="form-row" style="margin-bottom: 10px; margin-right: 10px;">
                                    <div class="col-md-4 mb-3">
                                        <label class="label_login">Loại tin</label>
                                        <button type="button" class="form-control" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" style=" text-align: left;">Loại tin<i class="fas fa-caret-down"></i> </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class="dropdown-item" type="button">Tư nhân trong nước</button>
                                            <button class="dropdown-item" type="button">Khác</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="label_login">Từ ngày</label>
                                        <input type="datetime-local" class="form-control"></div>
                                    <div class="col-md-4 mb-3">
                                        <label class="label_login">Đến ngày</label>
                                        <input type="datetime-local" class="form-control"></div>
                                </div>
                                <div class="form-row" style="margin-bottom: 10px; margin-right: 10px;">
                                    <div class="col-md-4 mb-3">
                                        <label class="label_login">Loại nhóm</label>
                                        <button type="button" class="form-control" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" style=" text-align: left;">Loại nhóm<i class="fas fa-caret-down"></i> </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class="dropdown-item" type="button">Tư nhân trong nước</button>
                                            <button class="dropdown-item" type="button">Khác</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="label_login">Tên nhóm</label>
                                        <button type="button" class="form-control" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" style=" text-align: left;">Tên nhóm<i class="fas fa-caret-down"></i> </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class="dropdown-item" type="button">Tư nhân trong nước</button>
                                            <button class="dropdown-item" type="button">Khác</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label class="label_login">Trạng thái</label>
                                        <button type="button" class="form-control" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" style=" text-align: left;">Trạng thái<i class="fas fa-caret-down"></i> </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                            <button class="dropdown-item" type="button">active</button>
                                            <button class="dropdown-item" type="button">Khác</button>
                                        </div>
                                    </div>


                                </div>



                                <div class="form-row" style="margin-bottom: 10px;text-align: center;">
                                    <div class="col-md-12 mb-3">
                                        <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Tìm kiếm</a>
                                        <a class="btn btn-info" href="" routerLink="/createdNotifyMessage" role="button">Tạo tin nhắn</a>

                                    </div>
                                </div>
                            </div>
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div style="background-color: white;padding-top: 15px;padding-left: 20px; margin-bottom: 5px;">
                                    <div class="form-row">
                                        <P class="label_main">DANH SÁCH TIN NHẮN</P>
                                    </div>
                                    <div class="form-row" style="margin-left: 5px;margin-right: 20px;">
                                        <div class="col-12">
                                            <div class="card" style="padding: 0%;">
                                                <div class="card-header">
                                                    <div class="form-row" style="margin-top: 5px;">
                                                        <div class="col-md-4 mb-3">
                                                            <button class="btn btn-secondary"><i class="fas fa-times pr-2" aria-hidden="true"></i>Close</button>
                                                        </div>
                                                        <div class="col-md-3 mb-3">

                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <input type="text" class="form-control" placeholder="-Nhập từ khóa-">
                                                        </div>
                                                        <div class="col-md-1 mb-3">
                                                            <button type="button" class="form-control" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" style=" text-align: left;">5<i class="fas fa-caret-down"></i> </button>
                                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                                                                <button class="dropdown-item" type="button">10</button>
                                                                <button class="dropdown-item" type="button">15</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 mb-3">
                                                            <img src="dist/img/icon update 3.png">
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <div class="table-responsive" style=" overflow-y: scroll;">
                                                        <table id="example2">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col"></th>
                                                                    <th scope="col">Loại tin</th>
                                                                    <th scope="col">Loại nhóm</th>
                                                                    <th scope="col">tên nhóm(s)</th>
                                                                    <th scope="col">Tiêu đề</th>
                                                                    <th scope="col">Ngày tạo</th>
                                                                    <th scope="col">người tạo</th>
                                                                    <th scope="col">Ngày phê duyệt</th>
                                                                    <th scope="col">Trạng thái</th>
                                                                    <th scope="col">Lượt xem</th>
                                                                    <th scope="col">Lượt thích</th>
                                                                    <th scope="col">Cập nhật</th>
                                                                    <th scope="col">Xem trước</th>






                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>

                                                                    <td style="text-align: center;"><input type="checkbox"></td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td>PSP browser</td>
                                                                    <td><i class="far fa-edit" style="color: tomato;"></i></td>
                                                                    <td><i class="fas fa-binoculars" style="color: tomato;"></i></td>

                                                                </tr>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->


                                            <!-- /.card -->
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        </div>

    <app-footer></app-footer>

    <aside class="control-sidebar control-sidebar-dark"></aside>
  </div>
</div>
<router-outlet></router-outlet>
