
#dnn_ContentPane {
    width: 100%;
}

.header-black {
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0 10px;
}
.header-black h1 {
    font-family: 'Roboto-Bold';
    font-size: 25px;
    font-weight:bold;
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    color: #333;
}
.search-box {
    display: flex;
    border: 1px solid #D4CFAC;
    background: #FFFAD5;
    padding: 10px 10px 10px 10px;
    margin-right: 0px;
}

.search-box label {
    font-weight: bold;
    margin-top: 10px;
    justify-content: flex-start !important;
}
.form-inline input {
    margin-bottom: 0px !important;
}
.btn-primary {
    background: #FCB71E;
}
.btn-primary:focus {
    background: #FCB71E;
    outline: none;
    border: none;
}
.btn-search-branch {
    margin-top: 28px;
    width: 100%;
}

.list-post .list-office {
    padding: 10px;
    height: 420px;
    overflow-y: auto;
    background: #FFF;
    border: 1px solid #DDD;
}
.list-post {
    margin-top: 15px;
    background: #FFFAD5;
    border: 1px solid #D4CFAC;
    padding: 10px;
    margin-right: 0px;
    font-family: "Roboto-Regular";
    font-size: 14px;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    .col-sm-push-12 {
        left: 2%;
    }
}
@media (min-width: 576px) {
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
}





/*TRA CƯỚC*/
.tracking-select-wrapper {
    border: 1px solid #c4c4c4;
    padding: 7px;
    width: 100%;
}
.header-track-form {
    color: #E47211;
    background: #FFFAD5;
    display: block;
    font-size: 14px;
    font-family: "Roboto-Medium";
    text-transform: uppercase;
    padding: 10px;
    font-weight:bold;
    margin-bottom: 5px !important;
    border: 1px solid #DAD7BC;
}
.tracking-select-wrapper .form-control {
    background: #f7f7f7 !important;
    border: 1px solid #c7c7c7;
}
select.form-control {
    color: #5f6d7b;
    border-radius: 0;
    border-color: #e4e6e8;
    box-shadow: none;
}
input.form-control, textarea.form-control {
    border-color: #dbdbdb;
    color: #777;
    font-size: 14px;
    font-family: Roboto-Regular;
    border-radius: 0;
    box-shadow: none;
}
.table-multi-tracking tr th {
    font-family: "Roboto-Medium";
    border: 1px solid #ACBED4 !important;
    background: #D5E9FF;
    vertical-align: middle;
    color: #333;
}
.btn-blue {
    background: #2977f7;
    color:white;
    width: 50%;
    border:none;
    height:100%;
    border-radius:4px;
    font-weight:normal;
    font-size:15px;
    outline: none;
}
.btn-blue:active {
    background: #0547b5;
    outline: none;
}
.main-content{
    margin-bottom: 50px;
}
