<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-panel">
      <app-navbar></app-navbar>
      <div class="content-wrapper">

      </div>

      <app-footer></app-footer>

      <aside class="control-sidebar control-sidebar-dark">

      </aside>
    </div>
</div>
<router-outlet></router-outlet>
<!--
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-panel">
      <navbar-cmp></navbar-cmp>
      <router-outlet></router-outlet>
      <div *ngIf="isMap('maps')">
          <footer-cmp></footer-cmp>
      </div>
  </div>

</div> -->
